body {
	font-family: 'Merriweather', serif;
	font-size: 100%;
	width: 300px;
	margin: 2% auto;
	background-color: #d9d9d9;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

h1 {
	font-size: 1.8rem;
	font-weight: 300;
	text-align: center;
}

canvas {
	border-bottom: 4px solid black;
	margin: 5% auto;
}

#knapp {
	margin-left: 110px;
}

h4 {
	text-align: center;
}

p#hinttext {
	margin-right: 100px;
}